[submodule "wordpress"]
	path = wordpress
	url = git://github.com/WordPress/WordPress.git
[submodule "wp-content/plugins/advanced-custom-fields"]
	path = wp-content/plugins/advanced-custom-fields
	url = https://github.com/wp-plugins/advanced-custom-fields.git
[submodule "wp-content/plugins/ewww-image-optimizer"]
	path = wp-content/plugins/ewww-image-optimizer
	url = https://github.com/wp-plugins/ewww-image-optimizer.git
[submodule "wp-content/plugins/google-analytics-for-wordpress"]
	path = wp-content/plugins/google-analytics-for-wordpress
	url = https://github.com/wp-plugins/google-analytics-for-wordpress.git
[submodule "wp-content/plugins/simple-page-ordering"]
	path = wp-content/plugins/simple-page-ordering
	url = https://github.com/wp-plugins/simple-page-ordering.git
[submodule "wp-content/plugins/w3-total-cache"]
	path = wp-content/plugins/w3-total-cache
	url = https://github.com/wp-plugins/w3-total-cache.git
[submodule "wp-content/plugins/wordpress-importer"]
	path = wp-content/plugins/wordpress-importer
	url = https://github.com/wp-plugins/wordpress-importer.git
[submodule "wp-content/plugins/wordpress-seo"]
	path = wp-content/plugins/wordpress-seo
	url = https://github.com/wp-plugins/wordpress-seo.git
